
CovidJam Project/Temp/UnityLockfile
/CovidJam Project/Library
/CovidJam Project/Logs
/CovidJam Project/obj
/CovidJam Project/*.sln
/CovidJam Project/*.csproj
/CovidJam Project/.vs
CovidJam Project/Temp/UnityTempFile-2d37b3c9c8349e34baf08aa2573be1b7
CovidJam Project/Temp/UnityTempFile-35052a2c9b90e824bbae907128f5f977
CovidJam Project/Temp/UnityTempFile-4b37fa26b042c254bbd38a29a321de80
CovidJam Project/Temp/UnityTempFile-57e7e634c1244dc4d8bbd7d68b2f87fb
